.uk-grid+.uk-grid {
    margin-top: 0px;
}

button {
    margin: 4px;
}

#main-ken button {
    min-width: 110px;
}

#main-city button {
    min-width: 350px;
    text-align: left;
}

#main-town button {
    min-width: 350px;
    text-align: left;
}