.tmpl {
    display: hidden;
}

.uk-grid+.uk-grid {
    margin-top: 0px;
}

button {
    margin: 4px;
}
.uk-search {
    background-color: darkgray;
}
.uk-button {
    line-height: 22px;
    border: 1px solid rgba(0,0,0,0.2);
}

.uk-alert {
    border: 1px solid rgba(45,112,145,.3);
}



.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 30%;
    border-right: 1px solid rgba(0,0,0,0.1);
}
.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
}

#main-ken button {
    min-width: 110px;
}

#main-city button {
    min-width: 230px;
    text-align: left;
}

#main-town button {
    min-width: 230px;
    text-align: left;
}

#main-block .big-num, #main-block .big-delete {
    font-size: 40px;
    height: 60px;
    width: 30%;
}

#main-block input, #main-book input {
    font-size: 30px;
    padding: 4px;
}

#book-list .uk-alert {
    width: 200px;
    display: inline-block;
    margin: 10px;
}

#book-list .uk-button {
    width: 80%;
}

#nearby-list .uk-button {
    width: 180px;
    margin: 10px;
}